# Backend
backend/.gradle
backend/build/
backend/HELP.md
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
backend/bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
backend/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

########################################

# dependencies
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# Native
mobile/.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
mobile/.metro-health-check*

# debug
mobile/npm-debug.*
mobile/yarn-debug.*
mobile/yarn-error.*

# macOS
mobile/.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
mobile/ios/
mobile/android/

# expo 실행시 생김
mobile/.gitignore

# 기상청 키
.env